In [2]:
a = "Life is too short, You need Pyhton"

In [16]:
a[-2]                # 뒷자리부터 셀 수 있는 전화번호 검색할때 용이함

'o'

In [10]:
a[0:4]

'Life'

In [11]:
a[0:3]                # 끝번호에 해당하는 문자는 포함 x, 즉 0부터 시작해서 3에서 끊는다 => [0:3]

'Lif'

In [12]:
a[:4]

'Life'

In [22]:
a[0:10]

'Life is to'

In [25]:
a[0:4]

'Life'

In [26]:
a[0:5]

'Life '

In [19]:
a1 = a[0:4]

In [20]:
a2 = a[0:5]

In [27]:
if a1 == a2:
    print("같다")
else:
    print("다르다")              # 공백이 있고 없고의 차이는 큼

다르다

In [29]:
len(a1)

4

In [31]:
len(a2)                           # 글자수도 다름

5

In [33]:
a2.rstrip()                     # 오른쪽 공백 지우기 => rstrip()

'Life'

In [36]:
a3 = a[4:8]

In [38]:
a3.strip()                     # 양쪽공백 지우기 => strip()

'is'

In [40]:
words1 = "딸기, 바나나, 수박"

In [46]:
bananaFromWords1 = words1[4:7]
print(bananaFromWords1)

바나나

In [50]:
watermelonFromWords1 = words1[-2:]
print(watermelonFromWords1)

수박

In [53]:
sbFromWords1 = words1[:2]
print(sbFromWords1)

딸기

In [71]:
wordToFind = "바나나"
indexOfBanana = words1.find("바나나")
bananaFromWords1 = words1[indexOfBanana:indexOfBanana+len(wordToFind)]
print(bananaFromWords1)

바나나

In [75]:
a = "Pithon"

In [76]:
a[1]

'i'

In [82]:
a[1] = 'y'

TypeError: 'str' object does not support item assignment

In [83]:
a[-4:]

'thon'

In [85]:
a2 = a[:1] + "y" + a[-4:]

In [92]:
a = a2
print(a)

Python

In [91]:
a

'Python'

In [94]:
"I eat %d apples." % 3

'I eat 3 apples.'

name1 = "이동렬";major1 = "History";howManyPhone1 = "%10s" %"10000000"
name2 = "동렬리";major2 = "IT";howManyPhone2 = "%10s" %"30000"                     # 숫자는 오른쪽, 문자는 왼쪽정렬

print("name"+"\t"+"major"+"\t"+"howManyPhone")
print(name1+"\t"+major1+"\t"+str(howManyPhone1))
print(name2+"\t"+major2+"\t"+str(howManyPhone2))

In [3]:
print("%10.2f" % 120)

    120.00

In [7]:
"~~~{0}~~~{1}~~~~~~~".format("DR", 2)

'~~~DR~~~2~~~~~~~'

In [10]:
"~~~{0}~~~{1}~~~~~{0}~{2}~".format("DR", 2, "God")

'~~~DR~~~2~~~~~DR~God~'

In [11]:
"~~~{2}~~{1}~~~~~~{0}".format("God", "DR", 9)

'~~~9~~DR~~~~~~God'

In [12]:
number = 4
"I eat {0} apples".format(number)

'I eat 4 apples'

In [14]:
"~~~{name}~~{howMany}~~~~~~{howMany}".format(name = "God", howMany = 2)

'~~~God~~2~~~~~~2'

In [16]:
"{0}".format("hi")

'hi'

In [22]:
"{0:>10}".format("hi")                # 오른쪽정렬

'        hi'

In [24]:
"{0:<10}".format("hi")               # 왼쪽정렬

'hi        '

In [26]:
"{0:^10}".format("hi")               # 가운데정렬

'    hi    '

In [28]:
"{0:=^10}".format("hi")              # 공백 채우기

'====hi===='

In [30]:
"{0:!^20}".format("hi")

'!!!!!!!!!hi!!!!!!!!!'

In [32]:
y = 3.24332532
"{0:0.4f}".format(y)

'3.2433'

In [35]:
name = "DR"
age = 120
"나의 이름은 {0}입니다. 나이는 {1}살 까지 살고 싶어요.".format(name, age)

'나의 이름은 DR입니다. 나이는 120살 까지 살고 싶어요.'

In [40]:
f"나의 이름은 {name}입니다. 나이는 {age}살 까지 살고 싶어요."

'나의 이름은 DR입니다. 나이는 120살 까지 살고 싶어요.'

In [41]:
"바나나".count("나")

2

In [46]:
"내가 가장 좋아하는 바나나는 크기가 큰 바나나 입니다. 왜냐면 작은 바나나는\
같은 무게를 사도 껍질로 다 버려져요".count("바나나")

3

In [49]:
"내가 가장 좋아하는 바나나는 크기가 큰 바나나 입니다. 왜냐면 작은 바나나는\
같은 무게를 사도 껍질로 다 버려져요".find("카")

-1

In [51]:
",".join('abcd')

'a,b,c,d'

In [56]:
",".join(["abc", "def", "ghi"])

'abc,def,ghi'

In [60]:
# 숫자만으로 저장된 전화 번호를 DB에서 얻었다. 010 1234 5678 이 번호를 -로 연결하자
# 010-1234-5678

"-".join(["010","1234","5678"])

'010-1234-5678'

In [65]:
phone_number = "010 1234 5678"
phone_number.replace(" ", "-")

'010-1234-5678'

In [68]:
a = "I love apple. because apple is so sweet."
b = a.replace("apple", "pine-apple")
print(b)

I love pine-apple. because pine-apple is so sweet.

In [71]:
# 010-1234-5678 --> 01012345678
a = "010-1234-5678"
b = a.replace("-", "")
print(b)

01012345678

In [76]:
a = " life is good"
b = a.split()
print(b)

['life', 'is', 'good']

In [83]:
# 010-1234-5678 --> '010', '1234', '5678'
a = "010-1234-5678"
b = a.replace("-", " ")
c = b.split()
print("식별번호:",c[0], ", 국번:",c[1], ", 개인번호:",c[2])

식별번호: 010 , 국번: 1234 , 개인번호: 5678

In [94]:
a = []
print(a)
e = [ 1, 2, [3, 4]]
print(e)
print(len(e))
print(e[0])
print(e[2])
print(e[2][1])
print(e[2][0])
print(e[-1])

[]
[1, 2, [3, 4]]
3
1
[3, 4]
4
3
[3, 4]

In [104]:
# list 연산하기
a = [1,2,3]
b = [3,4,5]
a+b
a*3
len(a*3)
str(a[1]) + "hi"
a[0] = 8
a
del a[0]
a

[2, 3]

In [109]:
a = [1,2,3,4,5]
a
del a[1:]
a

[1]

In [119]:
a = [1,2,3,4,5]
a
a.append(6)
print(a)

[1, 2, 3, 4, 5, 6]

In [127]:
# 리스트 정렬 (sort)
a = [7, 4, 4, 8, 2]
print(a)

[7, 4, 4, 8, 2]

In [132]:
a = [7, 4, 4, 8, 2]
a2 = a[:]                  # 원본을 지키기위해 따로 빼놓았음
a2.sort()
print(a2)
print(a)

[2, 4, 4, 7, 8]
[7, 4, 4, 8, 2]

In [134]:
a = [7, 4, 4, 8, 2]
a2 = sorted(a)            # 원본을 보호
print(a2)
print(a)

[2, 4, 4, 7, 8]
[7, 4, 4, 8, 2]

In [137]:
a = [7, 4, 4, 8, 2]
a.sort(reverse = True)
print(a)

[8, 7, 4, 4, 2]

In [139]:
a = [7, 4, 4, 8, 2]
a2 = sorted(a, reverse = True)
print(a2)
print(a)

[8, 7, 4, 4, 2]
[7, 4, 4, 8, 2]

In [149]:
a = [1 , 2, 3]

In [151]:
a.pop()

2

In [152]:
a

[1]

In [153]:
a1 = [1,2]; a2 = [3,4]
new1 = a1+a2 ; print(new1)
a1.extend(a2) ; print(a1)

[1, 2, 3, 4]
[1, 2, 3, 4]

In [166]:
my_dic1 = {}

In [175]:
my_dic1["banana"]="노랗고 달콤한 과일"

In [168]:
my_dic1["strawberry"]="새콤 달콤 빨간 과일"

In [169]:
my_dic1

{'banana': '노랗고 달콤한 과일', 'strawberry': '새콤 달콤 빨간 과일'}

In [173]:
del my_dic1["banana"]

KeyError: 'banana'

In [176]:
my_dic1

{'strawberry': '새콤 달콤 빨간 과일', 'banana': '노랗고 달콤한 과일'}

In [180]:
my_dic1.keys()

dict_keys(['strawberry', 'banana'])

In [182]:
a = ["strawberry", "banana", "strawberry"]
a

['strawberry', 'banana', 'strawberry']

In [184]:
my_dic1["banana"]="노랗고 달콤한 과일2"
my_dic1

{'strawberry': '새콤 달콤 빨간 과일', 'banana': '노랗고 달콤한 과일2'}