In [2]:
a = range(10)
print (a)

range(0, 10)

In [6]:
for i in range(10):
    print(i, end=" ")                               # end - 줄바꿈설정

0 1 2 3 4 5 6 7 8 9

In [7]:
for i in range(5, 10):
    print(i, end=" ")

5 6 7 8 9

In [25]:
for i in range(1, 10):
    if i % 3 == 0:
        print(i, end=" ")                      # range(1,10) 에서 3의배수만 출력

3 6 9

In [26]:
# range(1,100)에서 3으로 나눴을때 나머지 1인 값만 출력하시오.
for i in range(1, 100):
    if i % 3 == 1:
        print(i, end=" ")

1 4 7 10 13 16 19 22 25 28 31 34 37 40 43 46 49 52 55 58 61 64 67 70 73 76 79 82 85 88 91 94 97

In [18]:
for i in range(10, 1, -1):
    print(i, end=" ")

10 9 8 7 6 5 4 3 2

In [19]:
for i in [1, 4, 7, 10]:
    print(i, end=" ")

1 4 7 10

In [30]:
a = [1,2,3,4]
res = []
for i in a:
    res.append(i*3)
print(res, end=" ")

[3, 6, 9, 12]

In [31]:
a = [1,2,3,4]
res = [num*3 for num in a]
print(res, end=" ")

[3, 6, 9, 12]

In [32]:
a = [1,2,3,4]
res = [num*3 for num in a if num % 2 == 0]
print(res, end=" ")

[6, 12]

In [1]:
a = [1,2,3,4]
res = []
for i in a:
    if i % 2 == 0:
        res.append(i*3)
print(res, end=" ")

[6, 12]

In [12]:
# 연습문제 03-1
i = 0
while True:
    i += 1
    if i > 5: break
    print('*' * i)

*
**
***
****
*****

In [13]:
# 연습문제 02
result = 0
i = 1
while i <= 1000:
    if i % 3 == 0:
        result += i
    i += 1
print(result)

166833

In [22]:
# 연습문제 04
for i in range(1, 101):
        print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

In [38]:
# 연습문제 03-2
i = 0
while True:
    i += 1
    if i > 5: break
    for j in range(i):
        print("*", end="")
    print("")

*
**
***
****
*****

In [42]:
# 다른방식으로 별 찍기
for i in range(5):
    for j in range(i+1):
        print("*", end="")
    print("")

*
**
***
****
*****

In [47]:
# 역순으로 별 찍기
for i in range(4,-1,-1):
    for j in range(i+1):
        print("*", end="")
    print("")

*****
****
***
**
*

In [64]:
# 좌우대칭 직각삼각형 찍기
for i in range(6): 
    print("{0:>5}".format("*"*i))

    *
   **
  ***
 ****
*****

In [74]:
# 정삼각형 별 찍기
for i in range(10):
    if i % 2 == 1:
        print("{0:^9}".format("*" * i))

    *
   ***
  *****
 *******
*********

In [80]:
# 역순으로 정삼각형 별 찍기
for i in range(9, -1, -2):
    if i % 2 == 1:
        print("{0:^9}".format("*" * i))

*********
 *******
  *****
   ***
    *

In [64]:
# 두 정삼각형 이어붙이기
for i in range(10):
    if i % 2 == 1:
        print("{0:^9}".format("*" * i))
    if i == 10: break
for j in range(7, -1, -2):
    if j % 2 == 1:
        print("{0:^9}".format("*" * j))

    *
   ***
  *****
 *******
*********
 *******
  *****
   ***
    *

In [72]:
# 모래시계 별 찍기
for i in range(9, -1, -2):
    if i % 2 == 1:
        print("{0:^9}".format("*" * i))
for j in range(3, 10):
    if j % 2 == 1:
        print("{0:^9}".format("*" * j))

*********
 *******
  *****
   ***
    *
   ***
  *****
 *******
*********

In [1]:
# 연습문제 05
A = [70, 60, 55, 75, 95, 90, 80, 80, 85, 100]
total = 0
for score in A:
    total += score
average = total / len(A)
print(average)

79.0

In [73]:
# For문을 이용한 예제 01
for i in range(60, -1, -1):
    print(i, end="  ")
print("\n\n발사!")

60  59  58  57  56  55  54  53  52  51  50  49  48  47  46  45  44  43  42  41  40  39  38  37  36  35  34  33  32  31  30  29  28  27  26  25  24  23  22  21  20  19  18  17  16  15  14  13  12  11  10  9  8  7  6  5  4  3  2  1  0

발사!

In [1]:
# While 문을 이용한 예제 01
num = 60
while num >= 0:
    print(num, end="  ")
    num -=1
print("\n\n발사!")

60  59  58  57  56  55  54  53  52  51  50  49  48  47  46  45  44  43  42  41  40  39  38  37  36  35  34  33  32  31  30  29  28  27  26  25  24  23  22  21  20  19  18  17  16  15  14  13  12  11  10  9  8  7  6  5  4  3  2  1  0

발사!

In [69]:
# for 문을 이용한 구구단 만들기
for i in range(1,10):
    for j in range(1,10):
        print(i*j, end=" ")
    print("")

1 2 3 4 5 6 7 8 9
2 4 6 8 10 12 14 16 18
3 6 9 12 15 18 21 24 27
4 8 12 16 20 24 28 32 36
5 10 15 20 25 30 35 40 45
6 12 18 24 30 36 42 48 54
7 14 21 28 35 42 49 56 63
8 16 24 32 40 48 56 64 72
9 18 27 36 45 54 63 72 81

In [63]:
# while 문을 이용한 구구단 만들기
xnum = 0
ynum = 0
while xnum < 9:
    xnum += 1
    ynum = 0
    while ynum < 9:
        ynum += 1
        print(xnum*ynum, end=" ")
    print("")

1 2 3 4 5 6 7 8 9
2 4 6 8 10 12 14 16 18
3 6 9 12 15 18 21 24 27
4 8 12 16 20 24 28 32 36
5 10 15 20 25 30 35 40 45
6 12 18 24 30 36 42 48 54
7 14 21 28 35 42 49 56 63
8 16 24 32 40 48 56 64 72
9 18 27 36 45 54 63 72 81

In [72]:
# 구구단 while문 문제풀이
hang = 1
while hang <=9:
    yeol = 1
    while yeol <=9:
        print(hang*yeol, end=" ")
        yeol += 1
    print("")
    hang += 1

1 2 3 4 5 6 7 8 9
2 4 6 8 10 12 14 16 18
3 6 9 12 15 18 21 24 27
4 8 12 16 20 24 28 32 36
5 10 15 20 25 30 35 40 45
6 12 18 24 30 36 42 48 54
7 14 21 28 35 42 49 56 63
8 16 24 32 40 48 56 64 72
9 18 27 36 45 54 63 72 81

In [216]:
for i in range(1, 7, 1):
    for k in range(7, -1, -1):
        print("{0:>8}".format("*"*k))
    for j in range(1, i+1):
        print(j, end=" ")
    print("")

 *******
  ******
   *****
    ****
     ***
      **
       *

1
 *******
  ******
   *****
    ****
     ***
      **
       *

1 2
 *******
  ******
   *****
    ****
     ***
      **
       *

1 2 3
 *******
  ******
   *****
    ****
     ***
      **
       *

1 2 3 4
 *******
  ******
   *****
    ****
     ***
      **
       *

1 2 3 4 5
 *******
  ******
   *****
    ****
     ***
      **
       *

1 2 3 4 5 6

In [189]:
for i in range(1, 7, 1):
    for j in range(1, i+1):
        print(j, end=" ")
    print("")

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5
1 2 3 4 5 6

In [ ]:
for i in range(7, -1, -1):
    print("{0:>8}".format("*"*i))
    for j in range(1, 7, 1):
        for k in range(1, j+1):
            print(k, end=" ")
        print("")